<div class="container-fluid">
    <div class="row-fluid">

    {% if member.hasCurrentVoucher %}
        {% set voucher = member.currentVoucher %}

        {% if voucher.endDate() is not null %}
        <div class="span6">
            <div class="page-header">
                <h4>Wykorzystane dni <small class="pull-right">z {{ voucher.leftDaysAmount() }}</small></h4>
            </div>
            <input type="text" class="dial"
                   value="{{ voucher.passedDaysAmount() }}"
                   data-width="120"
                   data-angleOffset="-125"
                   data-angleArc="250"
                   data-fgColor="#3399CC"
                   data-min="0"
                   data-max="{{ voucher.totalDaysAmount() }}"
                   data-linecap="round"
                   data-readOnly="true" disabled="DISABLED" />
        </div>
        {% endif %}

        {% if not voucher.isUnlimited() %}
        <div class="span6">
            <div class="page-header">
                <h4>Wykorzystane wejścia <small class="pull-right">z {{ voucher.maximumAmount() }}</small></h4>
            </div>
            <input type="text" value="{{ voucher.usedEntriesAmount() }}" class="dial"
                   data-linecap="round"
                   data-angleOffset="-125"
                   data-angleArc="250"
                   data-width="120"
                   data-fgColor="#CC3333"
                   data-min="0"
                   data-max="{{ voucher.maximumAmount() }}"
                   data-readOnly="true" disabled="DISABLED" />
        </div>
        {% endif %}
    </div>

    <div class="row-fluid">
        <div class="span6">
            <div class="page-header">
                <h4>Data ważności<small class="pull-right">sprzedano: {{ voucher.createdAt()|date("d.m.Y H:i:s") }}</small></h4>
            </div>

            <ul class="bigBtnIcon">
                <li>
                    <a class="tipB" href="#" oldtitle="I`m with gradient" title="" data-hasqtip="true" aria-describedby="qtip-23">
                        <span class="icon icomoon-icon-arrow-first"></span>
                        <span class="txt">{{ voucher.startDate()|date("d.m.Y") }}</span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <span class="icon icomoon-icon-arrow-right"></span>
                        <span class="txt">{{ voucher.endDate()|date("d.m.Y") }}</span>
                    </a>
                </li>
            </ul>
        </div>
        <div class="span6">
            {#<div class="page-header">#}
                {#<h4>Aktywności</h4>#}
            {#</div>#}
            {#{% if voucher.activities()|length > 0 %}#}
                {#{% for activity in voucher.activities() %}#}
                    {#<div class="badge badge-info">{{ activity.getName() }}</div>#}
                {#{% endfor %}#}
            {#{% else %}#}
                    {#karnet typu <div class="badge badge-warning">open</div>, wszystkie zajęcia są dostępne#}
            {#{% endif %}#}
        </div>

        {% else %}
            <div class="page-header">
                <h4>Brak aktualnego karnetu.</h4>
            </div>

            <div class="row-fluid">
                <a href="{{ path("gyman_voucher_new", {id: member.id()}) }}" class="btn btn-large btn-primary">Sprzedaj karnet</a>
            </div>

        {% endif %}
    </div>
</div>
