{% extends 'GymanSettingsBundle::layout.html.twig' %}

{% block windowClasses %}col-sm-12 col-md-12{% endblock windowClasses %}

{% block settings_page %}
    <table class="table table-bordered records_list">
        <thead>
            <tr>
                <th>Login użytkownika (email)</th>
                <th>Aktywny</th>
                <th>Role</th>
                <th>Akcje</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in pagination %}
            <tr>
                <td>{{ entity.username }} ({{ entity.email }})</td>
                <td>{%  if entity.isEnabled %}&check;{% endif %}</td>
                <td>{% for role in entity.roles %}{{ role|slice(5)|lower }}{% if not loop.last %}, {% endif %}{% endfor %}</td>
                <td>
                    <a href="{{ path('admin_users_update', { 'id': entity.id }) }}">edytuj</a> |
                    <a onclick="confirm('Jesteś pewien? Tego się nie da cofnąć,\na po usunięciu nie można ponownie\nzarejestrować tego adresu email.')" href="{{ path('admin_users_delete', { 'id': entity.id}) }}?page={{ page }}">usuń</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <div class="form-actions">
        <div class="pull-right">
            {{ knp_pagination_render(pagination) }}
        </div>
        <a href="{{ path('admin_users_create') }}" class="btn">Dodaj</a>
    </div>
{% endblock settings_page %}
