<div class="reminder" id="activitiesTab" data-date="{{ date|date("Y-m-d H:i:s") }}">

    <h4><a href="#" class="prevActivityDay">&LeftTriangle;</a> <a href="#" class="nextActivityDay">&RightTriangle;</a>Zajęcia w dniu {{ date|date("d.m.Y (l)") }}:</h4>

    <ul>
        {% for occurrence in occurrences if occurrences|length > 0 %}
            {# @var occurrence \Gyman\Domain\Calendar\Event\Occurrence #}
            <li class="clearfix{% if occurrence.isOngoing() %} ongoingEvent{% elseif occurrence.isPast() %} passedEvent{% endif %}">
                <span class="number">{{ occurrence.startDate|date("H:i") }} - {{ occurrence.endDate|date("H:i") }}</span>
                <span class="txt">{{ occurrence.event.title }}</span>

                <a class="btn btn-warning" href="{{ path('gyman_dashboard_listClassMembers', {id: occurrence.id}) }}">{{ occurrence.entries.count }} osób</a>
            </li>
        {% else %}
            <li>brak wydarzeń dla tego dnia</li>
        {% endfor %}
    </ul>
</div>
