{% extends "DashboardBundle::layout.html.twig" %}

{#@todo: tłumaczenia!#}

{% block body_class %}dashboard{% endblock %}

{% block body %}

    <div class="heading">

        <h3>Pulpit nawigatora</h3>

    </div><!-- End .heading-->

    <div class="form-row row-fluid">
        <div class="span6">
            {% include "DashboardBundle:Default:activities.html.twig" %}
        </div>

        <div class="span6">
            <div class="reminder" id="searchTab">
                <h4>Szukaj uczestnika</h4>

                {{ form_start(searchForm, {attr: {class: "input-append", id: "membersSearchAutocompleteForm"}}) }}
                {{ form_widget(searchForm.query, {attr: {placeholder: "imię/nazwisko uczestnika lub kod", autocomplete: "off", style: "width: 80%; height: 27px"}}) }}
                <button id="clickToOpenFoundUser" class="add-on btn-warning btn-large">
                    <i class="icon16 icomoon-icon-search-2"></i>Pokaż
                </button>

                <div class="hidden">
                    {{ form_rest(searchForm) }}
                </div>

                {{ form_end(searchForm) }}

                <a href="{{ path("gyman_members_search_form") }}">Zaawansowane opcje szukania</a>
            </div>

            {# @todo: translacje! #}

            {#{% include "DashboardBundle:Default:popularActivities.html.twig" %}#}

            <div class="reminder">
                <h4>Zadania</h4>

                {{ knp_menu_render('actions', {
                'template': ':Menu:dashboard_actions.html.twig',
                'currentAsLink' : true,
                'depth' : 2,
                'currentClass' : 'active'
                }) }}
            </div>
        </div>
    </div>

    {#<div class="form-row row-fluid">#}
    {#<div class="span12">#}
    {#<div id="frequencyChart" style="min-width: 400px; height: 400px; margin: 0 auto"></div>#}
    {#</div>#}
    {#</div>#}
{% endblock body %}

{#{% block javascripts %}#}
    {#{{ parent() }}#}
    {#<script>#}
        {#&#123;&#35; { chart(frequencyChart) } &#35;&#125;#}
        {#&#123;&#35; { chart(popularityChart) } &#35;&#125;#}
    {#</script>#}
{#{% endblock %}#}
