{% extends "DashboardBundle::layout.html.twig" %}

{# @var occurrence Gyman\Domain\Calendar\Event\Occurrence occurrence #}
{# @var member \Gyman\Domain\MemberView #}
{% block content %}
<div class="heading">
    <h3>
        Obecność na zajęciach: <strong>{{ occurrence.event.title }}</strong>
        <small>{{ occurrence.startDate|date("y.m.d H:i") }} - {{ occurrence.endDate|date("H:i") }}</small>
    </h3>
</div>

{{ include("_flash.html.twig") }}

<div class="row-fluid">

    <div class="span2">
        {{ render(controller("GymanAppBundle:Occurrence:updateOccurrenceDetails", {
                'occurrence': occurrence,
                'route': ['gyman_dashboard_listClassMembers', {'id' : occurrence.id.toString}]
        })) }}

        {#<label for="listFilter">#}
            {#Szukaj:#}
            {#<input type="text" name="listFilter"/>#}
        {#</la$(document).trigger 'enteredMembersBarcode', [code: keyboardCache]bel>#}
    </div>

    <div class="span8">
        <h3>Weszło: {{ membersThatEntered|length }} osób</h3>
        {#<ul class="media-list" style="height: 90%; overflow-y: scroll; overflow-x: hidden">#}
        {#{% for member in membersThatEntered %}#}
        {#<li class="media">#}
        {#<a class="pull-left" href="{{ path("gyman_member_edit", {id: member.id}) }}">#}
        {#<img class="pull-left media-object thumbnail" src="{{ avatar(member) }}" style="max-width: 60px; margin-right: 10px"/>#}
        {#<div class="media-body">#}
        {#<h4 class="media-heading">#}
        {#{{ member.firstname }} {{ member.lastname }}#}
        {#</h4>#}
        {#karnet:#}
        {#{% if member.currentVoucherId is not null %}#}
        {#ok#}
        {#{% else %}#}
        {#brak#}
        {#{% endif %}#}
        {#</div>#}
        {#</a>#}
        {#<a onClick="return confirm('Jesteś pewien?');" href="{{ path("gyman_entry_remove_from_occurrence", {occurrence: occurrence.id, member: member.id}) }}" class="pull-right btn">Usuń</a>#}
        {#</li>#}
        {#{% endfor %}#}
        {#</ul>#}

        <ul class="thumbnails">
            {% for member in membersThatEntered if membersThatEntered|length > 0 %}
                <li style="text-align: center">
                    <div class="thumbnail" style="height: 220px; width: 120px; position: relative">
                        <strong>{{ member.firstname }} {{ member.lastname }}</strong>
                        <a href="{{ path('gyman_member_edit', {id : member.id}) }}">
                            <img src="{{ avatar(member) }}" style="max-height: 200px" />
                        </a>
                        <div>
                            <p>
                                {% if member.voucherStartDate is not null %}
                                <span class="badge badge-warning">
                                {{ member.voucherStartDate|date("d.m") }}
                                -
                                {{ member.voucherEndDate|date("d.m") }}
                                </span>
                                {% endif %}
                                {% if member.voucherLeftAmount is not null %}
                                <span class="badge badge-alert">
                                zostało {{ member.voucherLeftAmount }} wejść
                                </span>
                                {% endif %}

                            </p>
                        </div>
                        <a style="position: absolute; right: 5px; bottom: 5px" onClick="return confirm('Jesteś pewien?');" href="{{ path("gyman_entry_remove_from_occurrence", {occurrence: occurrence.id, member: member.id}) }}" class="btn">Usuń</a>
                    </div>
                </li>
            {% else %}
                <li>
                    Brak wyników
                </li>
            {% endfor %}
        </ul>

    </div>

    <div class="span2">
        <ul id="allMembers" class="media-list" style="max-height:500px; overflow-y: scroll; overflow-x: hidden">
            {%  for member in allMembers %}
                <li class="media">
                    <a class="pull-left" href="{{ path("gyman_member_edit", {id: member.id}) }}">
                        <img class="pull-left media-object thumbnail" src="{{ avatar(member) }}" style="max-width: 30px; margin-right: 10px"/>
                        <div class="media-body" data-barcode="{{ member.barcode }}" data-url="{{ path("gyman_entry_create_for_member", {occurrence: occurrence.id, member: member.id}) }}">
                            <h4 class="media-heading">
                                {{ member.firstname }} {{ member.lastname }}
                            </h4>
                            {#karnet:#}
                            {#{% if member.currentVoucherId is not null %}#}
                                {#ważny do <span class="label">{{ member.voucherEndDate|date("Y.m.d") }}</span><br />#}
                                {#pozostało {{ member.voucherLeftAmount }} wejść#}
                            {#{% else %}#}
                                {#brak#}
                            {#{% endif %}#}
                        </div>
                    </a>
                    <a href="{{ path("gyman_entry_create_for_member", {occurrence: occurrence.id, member: member.id}) }}" class="pull-right btn">+</a>
                </li>
            {% endfor %}
        </ul>
    </div>
</div>

{% endblock content %}

{% block javascripts %}
    {{ parent() }}

    <script>
        jQuery(function(){
            $(document).on("enteredMembersBarcode", function(event, data){
                var code = data["code"];
                var $el = $("#allMembers div.media-body").filter(function(index) { return $(this).data("barcode") == code;});
                var url = $el.data("url");

                if(url != undefined) {
                     window.location.href = url;
                } else {
                    alert("Nie znaleziono!");
                }
            })
        });
    </script>
{% endblock javascripts %}