<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8"/>
    <title>{% block title %}Gyman.pl{% endblock %}</title>

    {% if app.environment != "dev" %}
        <script src="//cdn.ravenjs.com/1.1.2/jquery,native/raven.min.js"></script>
        <script>
            Raven.config('{{ sentry_url }}');
        </script>
    {% endif %}

    {% block stylesheets %}
        {% if app.environment == "prod" %}
            <link rel="stylesheet" href="/css/vendors.min.css" />
            <link rel="stylesheet" href="/css/project.min.css" />
        {% else %}
            <link rel="stylesheet" href="/css/vendors.css" />
            <link rel="stylesheet" href="/css/project.css" />
        {%  endif %}
    {% endblock %}

    <link rel="icon" type="image/x-icon" href="favicon.ico"/>
</head>

{% block overraid_body %}
    <body class="{% block body_class %}{% endblock %}">
    <div id="spinner">Ładuję...</div>

    <div id="qLoverlay"></div>
    <div id="qLbar"></div>

    {% if app.user is not null %}
        {{ include("navigation.html.twig") }}
    {% endif %}

    <div id="header">
        <div class="navbar">
            <div class="navbar-inner">
                <div class="container-fluid">

                    <a href="{{ path("_dashboard_index") }}" class="brand">
                        <img src="/bundles/default/images/gyman_logo.png" />
                    </a>

                    <div class="nav-no-collapse">
                        <ul class="nav pull-right usernav">
                            {% if is_granted("ROLE_ADMIN") %}
                            <li>
                                <a href="{{ path("_dashboard_index") }}">
                                    <span class="icon16 icomoon-icon-equalizer-2"></span>
                                    <span class="txt"> {{ 'dashboard_button'|trans }}</span>
                                </a>
                            </li>
                            {% endif %}
                            <li>
                                <a href="#" class="openNavigation">
                                    <span class="icon16 icomoon-icon-exit"></span>
                                    <span class="txt"> {{ 'open_navigation'|trans }}</span>
                                </a>
                            </li>
                        </ul>
                    </div>

                </div>
            </div>
            <!-- /navbar-inner -->
        </div>
    </div>
    <!-- end header -->

    <div id="wrapper">
        <div id="content" class="clearfix">

            <div class="contentwrapper">
                {% block content %}
                    {% block body %}{% endblock %}
                {% endblock content %}

            </div>
            <!-- End contentwrapper -->

        </div>
        <!-- End #content -->
    </div>
    <!-- end wrapper -->

    {% block javascripts %}
        {% if app.environment == "prod" %}
            <script type="text/javascript" src="/js/vendors.min.js"></script>
            <script type="text/javascript" src="/js/project.min.js"></script>
        {% else %}
            <script type="text/javascript" src="/js/vendors.js"></script>
            <script type="text/javascript" src="/js/project.js"></script>
        {% endif %}

        <script src="{{ path('fos_js_routing_js', {"callback": "fos.Router.setData"}) }}"></script>

        {% if app.session.flashbag.has('notice') %}
        <script>
            {% for flashMessage in app.session.flashbag.get('notice') %}
            $.pnotify({
                title: '{{ 'notification_caption'|trans }}',
                text: '{{ flashMessage|e('js')|trans }}',
                icon: false,
                opacity: 0.95,
                sticker: false,
                history: false
            });
            {% endfor %}
        </script>
        {% endif %}

        <script>
            $(function () {
                $("#qLoverlay,#qLbar").fadeOut(750);

                $(document).on("click", "a.openNavigation", function (e) {
                    e.preventDefault();
                    $("#overlayNavigation").fadeIn();
                });

                $(document).on("click", "#overlayNavigation, #closeOverlayNavigation", function () {
                    $("#overlayNavigation").fadeOut();
                });
            });
        </script>

    {% endblock javascripts %}


    <!-- @todo zamienić na fosjsroutingbundle -->
        <span id="applicationData"
              data-quicksearch-member-url="{{ path("_entry_quickadd",{barcode : "__BARCODE__" }) }}"
              data-member-list-apply-filter-url="{{ path("_filter_set",{id : "__FILTERID__", listname : "members"}) }}"/>

    {% include '::modal.html.twig' %}
    </body>
{% endblock overraid_body %}
</html>
