<div id="overlayNavigation" style="display: none;" class="container-fluid">
    <a href="#" id="closeOverlayNavigation">{{ 'navigation.close'|trans }}</a>
    <div id="toolbox">

        <div class="page-header">
            <h4>{{ 'navigation.logged_in_as'|trans }}</h4>
        </div>
        <div id="loggedAs" class="container-fluid">
            <div class="row-fluid">
                <div class="span6">
                    <img src="/assets/images/no-profile.gif" class="img-circle">
                    <h3>
                        {{ app.user.firstname ~ " " ~ app.user.lastname }}
                        <small>({{ ('roles.' ~ app.user.roles[0])|trans }})</small>
                    </h3>
                </div>
                <div class="span6">
                    {{ knp_menu_render('profile', {
                        'template': ':Menu:profile.html.twig',
                        'currentAsLink' : true,
                        'depth' : 2,
                        'currentClass' : 'active'
                    }) }}
                </div>
            </div>
        </div>
        <div class="page-header">
            <h4>{{ 'navigation.menu' }}:</h4>
        </div>
        {{ knp_menu_render('main', {
            'currentAsLink' : true,
            'template': ':Menu:main.html.twig',
        }) }}
    </div>
</div>
