<div class="row-fluid">
    <dl>
        <dt>Zajęcia</dt>
        <dd>
            {{ occurence.event.activity.name }}
        </dd>
        <dt>Godziny</dt>
        <dd>
            {{ occurence.startDate|date("H:i") }} - {{ occurence.getEndDate()|date("H:i") }}
        </dd>

        {% if occurence.description|length > 0   %}
        <dt>Opis</dt>
        <dd>
                {{ occurence.description }}
        </dd>
        {% endif %}

        {% if occurence.entries|length > 0 %}
            <dt>Uczestnicy ({{ occurence.entries|length }}):</dt>
            <dd>
                <ol>
                    {% for entry in occurence.entries %}
                        <li><a class="name openUrlInModal" href="{{ path("_member_edit", {"id" : entry.member.id}) }}"><strong>{{ entry.member.name }}</strong></a><br/>
                                {% endfor %}
                </ol>
            </dd>
        {% endif %}
    </dl>
</div>

{% block modal %}
    <div class="hidden" id="ui-showEventData">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h3>Pokaż wydarzenie</h3>
        </div>
        <div class="modal-footer">
            <div class="pull-right">
                <a href="#" class="btn" data-dismiss="modal" aria-hidden="true">Zamknij</a>
            </div>
        </div>
    </div>
{% endblock modal %}

{% block javascript %}
    <script src="/assets/js/schedule.min.js"></script>
    <script>
        $(function() {
            modal.setupFromNode("div#ui-showEventData");
            modal.setModalWindowClass("showEvent");

            window.showEventModal = new ShowEvent();
        });
    </script>
{% endblock javascript %}
