{% extends "GymanSettingsBundle::layout.html.twig" %}

{% block settings_page_header %}{{ 'settings.header.edit_user'|trans  }}: {{ form.vars.value.getFullname }}{% endblock %}

{% block settings_page -%}
    {{ form_start(form) }}

    <div class="row-fluid">
        <div class="span6">
            {{ form_row(form.username) }}
            {{ form_row(form.email) }}
        </div>
    </div>
    {{ form_end(form) }}

{% endblock %}
