{% extends 'GymanAppBundle::layout.html.twig' %}
{% import '@GymanApp/Members/_picture.html.twig' as pane %}

{% block title %}
{{ parent() }} - edycja użytkownika {{ member.details.firstname ~ ' ' ~ member.details.lastname  }}
{% endblock title %}

{% block content %}
<div class="heading">
    <h3>{{ member.details.firstname ~ " " ~ member.details.lastname }}</h3>
</div>

<div class="row-fluid">
{% include "::_flash.html.twig" %}

{{ form_start(form, {
    attr : {
        'id' : "memberForm",
        'class' : "form-horizontal row-fluid",
        'novalidate' : 'novalidate'
    },
    action : path('gyman_member_edit', {"id" : member.id})
}) }}

    <div class="span4">
        {{ knp_menu_render('gyman.members.menu.tabs_picture', {
            'template': 'GymanAppBundle:Members:Menu/picture.html.twig',
            'currentAsLink' : true,
            'depth' : 1,
            'currentClass' : 'active'
        }) }}

        {% set cameraPicture = form.fotoData.vars.value %}

        <div class="tab-content">
            {{ pane.webcamPane(form) }}
            {{ pane.uploadPane(form, member) }}
        </div>
    </div>

{%  include "@GymanApp/Members/member_form_inner.html.twig" %}

<div class="row-fluid">
    <div class="span12 form-actions">
        <div class="pull-right">

            <a href="{{ path("gyman_member_sendInvitation", {id : member.id}) }}" class="btn">{{ "member.form.send_invitation"|trans }}</a>

            {% if member.hasOpenedEntry %}
                <a href="{{ path("gyman_entry_close", {id : member.lastEntry.id}) }}" class="btn" style="margin-left: 0px">{{ "member.form.close_entry"|trans }}</a>
            {% else %}
                <a href="{{ path("gyman_entry_new", {id : member.id}) }}" class="btn" style="margin-left: 0px">{{ "member.form.add_entry"|trans }}</a>
            {% endif %}

            <button class="btn btn-success" type="submit">
                Zapisz
            </button>
        </div>
    </div>
</div>


{{ form_end(form) }}

</div>
{% endblock content %}

{% block javascripts %}
    {{ parent() }}
    {{ pane.pictureJs() }}
{% endblock %}