{% extends 'GymanAppBundle::layout.html.twig' %}
{% import '@GymanApp/Members/_picture.html.twig' as pane %}

{% block content %}
<div class="heading"><h3>Dodaj użytkownika</h3></div>

<div class="span12">
{% include "::_flash.html.twig" %}

{{ form_start(form, {
    attr : {
        'id' : "memberForm",
        'class' : "form-horizontal row-fluid",
        'novalidate' : 'NOVALIDATE'
    }
}) }}

    <div class="span4">
        {{ knp_menu_render('gyman.members.menu.tabs_picture', {
            'template': 'GymanAppBundle:Members:Menu/picture.html.twig',
            'currentAsLink' : true,
            'depth' : 1,
            'currentClass' : 'active'
        }) }}

        {% set cameraPicture = form.fotoData.vars.value %}

        <div class="tab-content">
            {{ pane.webcamPane(form) }}
            {{ pane.uploadPane(form) }}
        </div>
    </div>

    <div class="span8">
        <ul class="nav nav-tabs" id="uploadAvatar">
            <li class="active first">
                <a href="#detailsPane" class="" data-toggle="tab">
                    <span class="icon icomoon-icon-profile"></span>
                    Szczegóły
                </a>
            </li>
        </ul>
        <div class="tab-content">
            <div id="detailsPane" class="tab-pane fade in active">
                <div class="span5">
                    {% include 'GymanAppBundle:Members:Modal/_details.html.twig' with {'form' : form} %}
                    {{ form_row(form.send_invitation) }}
                </div>
                <div class="span7">
                    {% include 'GymanAppBundle:Members:Modal/_additional.html.twig' with {'form' : form} %}
                </div>
            </div>
        </div>
    </div>

<div class="row-fluid">
    <div class="span12 form-actions">
        <div class="pull-right">
            {{ form_widget(form.submit) }}
            {{ form_widget(form.submit_and_add) }}
        </div>
    </div>
</div>
{{ form_rest(form) }}

{{ form_end(form) }}

</div>
{% endblock content %}

{% block title %}
    {{ parent() }} - Dodaj użytkownika
{% endblock title %}

{% block javascripts %}
    {{ parent() }}
    {{ pane.pictureJs() }}

    <script type="text/javascript" src="{{ asset("bundles/gymanreports/js/jquery-ui-1.9.2.custom.js") }}"></script>
    <script type="text/javascript" src="{{ asset("bundles/gymanreports/js/bootstrap-datetimepicker.min.js") }}"></script>

    <script type="text/javascript">
        $(function(){
            $("input[name*='birthDate']").datetimepicker({
                format: 'dd.mm.yyyy',
                weekStart: 1,
                autoclose: true,
                startView: 2,
                minView: 2,
                maxView: 2,
                clearBtn: true,
                todayBtn: true,
                todayHighlight: true,
                language: "pl"
            });
        });
    </script>
{% endblock %}