<div class="reminder" id="activitiesTab" data-date="{{ date|date("Y-m-d H:i:s") }}">

    <h4><a href="#" class="prevActivityDay">&LeftTriangle;</a> <a href="#" class="nextActivityDay">&RightTriangle;</a>Zajęcia w dniu {{ date|date("d.m.Y (l)") }}:
        {%  if is_granted("ROLE_ADMIN") %}
        <a class="icon tip" href="" oldtitle="Configure" title="" data-hasqtip="true"><span class="icon16 icomoon-icon-clock"></span></a>
        {% endif %}
    </h4>

    <ul>
        {% for occurrence in occurrences if occurrences|length > 0 %}
            <li class="clearfix{# % if occurrence.isOngoing() %} ongoingEvent{% elseif occurrence.isPast() %} passedEvent{% endif % #}">
                <span class="number">{{ occurrence.startDate|date("H:i") }} - {{ occurrence.endDate|date("H:i") }}</span>
                <span class="txt">{{ occurrence.event.title }}</span>

                {#&#123;&#35; if occurrence.isOngoing() %}<span class="label label-success" style="margin-left: 10px; margin-top: 7px;">trwa</span>{% endif %}#}

                {#{% if occurrence.isPast(true) %}<span class="label" style="margin-left: 10px; margin-top: 7px;">zakonczone</span>{% endif %}#}

                <a class="btn btn-warning openUrlInModal" href="#">{# occurrence.entries|length #} osób</a>
            </li>
        {% else %}
            <li>brak wydarzeń dla tego dnia</li>
        {% endfor %}
    </ul>
</div>
