<div class="row-fluid">
    {{ form_start(form, {attr: {class: "form-horizontal"}}) }}
    <div class="span3 offset1">
        {{ form_row(form.instructorId) }}
        {{ form_row(form.subject) }}
    </div>
    <div class="span7 offset1">
        {{ form_row(form.note) }}
        <button type="submit">Zapisz</button>
    </div>
    {{ form_end(form) }}
</div>