{% extends 'GymanAppBundle::layout.html.twig' %}

{% block title %}
    {{ "title.welcome.main_page"|trans }}
{% endblock title %}

{% block javascripts %}
    {{ parent() }}
    {# @var club \Gyman\Bundle\ClubBundle\Entity\Club #}

    {% set lang = calendarLang is defined ? calendarLang : 'pl' %}

    <script src='{{ asset("bundles/dendecalendar/js/jquery.min.js") }}'></script>
    <script src='{{ asset("bundles/dendecalendar/js/moment.js") }}'></script>
    <script src='{{ asset("bundles/dendecalendar/js/fullcalendar.js") }}'></script>
    <script src='{{ asset("bundles/dendecalendar/js/lang/" ~ lang ~ ".js") }}'></script>

    <script>
        var eventClickHandler = function() {};
        var dende_calendar_lang = '{{ lang }}';
        var dende_calendar_tz = '{{ calendarTimezone is defined ? calendarTimezone : 'Europe/Warsaw' }}';

        $(document).ready(function() {
            $('#calendar').fullCalendar({
                defaultView: 'agendaWeek',
                allDaySlot: false,
                slotDuration: '00:30:00',
                minTime: '{% if club.details.opened_from is not null %}{{ club.details.opened_from }}:00{% else %}08:00{% endif %}',
                maxTime: '{% if club.details.opened_till is not null %}{{ club.details.opened_till }}:00{% else %}22:00{% endif %}',
                timeZone: dende_calendar_tz,
                slotLabelFormat: 'H:00',
                selectable: false,
                lang: dende_calendar_lang,
                events: Routing.generate('dende_calendar_default_getevents', {noroute: true}),
                contentHeight: "auto",
                height: "auto",
                editable: false,
                eventStartEditable: false,
                eventDurationEditable: false,
                columnFormat: 'ddd'
            })
        });

    </script>
{% endblock javascripts %}

{% block stylesheets %}
    {{ parent() }}
    <link rel='stylesheet' href="{{ asset('bundles/dendecalendar/css/fullcalendar.css') }}" />
{% endblock stylesheets %}

{% block content %}
<div class="contentwrapper" style="margin-top: 20px">


    {#<div class="heading">#}

        {#<h3>Dodaj użytkownika</h3>#}

    {#</div>#}

    <div class="row-fluid">
        <div class="span8">
            {{ include('@GymanApp/Default/_club_tabs.html.twig') }}
        </div>

        {% if app.user is null %}
        <div class="span4 well">
            {{ include('@GymanApp/Default/_login_form.html.twig') }}
        </div>

        {% endif %}
    </div>
</div>

{% endblock content %}

