<div class="reminder" id="activitiesTab" data-date="{{ date|date("Y-m-d H:i:s") }}">
    <h4><a href="#" class="prevActivityDay">&LeftTriangle;</a> <a href="#" class="nextActivityDay">&RightTriangle;</a>Zajęcia w dniu {{ date|date("d.m.Y (l)") }}:
        <a class="icon tip" href="{{ path("_schedule_calendar") }}" oldtitle="Configure" title="" data-hasqtip="true"><span class="icon16 icomoon-icon-cog-2"></span></a>
    </h4>
    <ul>
        {% for occurence in occurences %}
            <li class="clearfix{% if occurence.isPast() %} passedEvent{% endif %}">
                <span class="number">{{ occurence.startDate|date("H:i") }} - {{ occurence.endDate|date("H:i") }}</span> 
                <span class="txt">{{ occurence.event.activity.name }}</span>
                <a class="btn btn-warning openUrlInModal" href="{{ path("_events_show", {occurence: occurence.id}) }}">{{ occurence.entries|length }} osób</a>
            </li>               
        {% endfor %}
    </ul>
</div>