{% extends "MembersBundle:Default:edit.html.twig" %}

{% block content %}
    {% if not form.vars.valid %}
        <div class="alert alert-error">
            <strong>{{ 'members.modal.form_has_errors'|trans }}</strong>
            {{ form_errors(form) }}
        </div>
    {% endif %}

    {{ form_start(form, {
        attr : {
            'id' : "memberForm",
            'class' : "form-horizontal row-fluid"
        },
        action : path('_member_new')
    }) }}

    {%  include "@Members/Default/member_form_inner.html.twig" %}
{% endblock %}

{% block birthday %}
    {{ form_row(form.birthdate,{"label" : "member.modal.birthday_label"|trans, "attr": { "value" : null }}) }}
{% endblock birthday %}

{% block modal %}
{% endblock modal %}

{% block memberToolbox %}
    <label for="sell_voucher_after_creation">
        <input type="checkbox" checked="CHECKED" value="1" name="sell_voucher_after_creation" />
        {{ 'members.new.sell_voucher_after_creation' | trans }}
    </label>

    <a href="#" class="btn btn-primary pull-right" id="saveFormInModal">{{ "member.modal.save_button_label"|trans }}</a>
{% endblock memberToolbox %}
