{% extends "::base.html.twig" %}

{% block body %}
<div class="heading">
    <h3>Edytuj wydarzenie</h3>                    
</div><!-- End .heading-->

<form action="{{ path("_events_new",{event: event.getId(), date: date.format("Y-m-d H:i")}) }}" class="form form-horizontal">
{{ form(form) }}
    <div class="control-group">
        <div class="controls">
            <button type="submit" class="btn btn-primary">Zapisz</button>
        </div>
    </div>
</form>
{% endblock body %}


{# javascripts #}

{% block javascripts %}
    {{ parent() }}

    {% javascripts
     %}

<script src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock javascripts %}

{# CSS #}

{% block stylesheets %}
    {{ parent() }}

    {% stylesheets filter='cssrewrite'
        filter="cssrewrite"
    %}

<link rel="stylesheet" href="{{ asset_url }}" />

    {% endstylesheets %}
{% endblock stylesheets %}