<table class="table table-bordered">
    <thead>
    <tr>
        <th>{{ 'vouchers.startDate.table_header'|trans }}</th>
        <th>{{ 'vouchers.endDate.table_header'|trans }}</th>
        <th>{{ 'vouchers.entries.table_header'|trans }}</th>
        <th>{{ 'vouchers.price.table_header'|trans }}</th>
    </tr>
    </thead>
    <tbody>
    {% for voucher in vouchers %}
        <tr>
            <td>
                {{  voucher.startDate|date("d.m.Y")  }}
            </td>
            <td>
                <span{% if voucher.isClosed() %} style="text-decoration: line-through;"{% endif %}>{{  voucher.endDate|date("d.m.Y")  }}</span>

                {% if voucher.isClosed() %}
                    {{  voucher.closedAt|date("d.m.Y") }}
                {% endif %}
            </td>
            <td>
                zostało {{ voucher.leftEntriesAmount }} z {{ voucher.maximumAmount }}
            </td>
            <td>
                {{  voucher.price }}
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>
