{% extends "::base.html.twig" %}

{% block stylesheets %}
    {{ parent() }}
    <link rel='stylesheet' href="{{ asset('bundles/dendecalendar/css/bootstrap-datetimepicker.min.css') }}" />
{% endblock stylesheets %}

{% block content %}
    <div class="contentwrapper">

        <div class="heading">

            <h3>Otwórz wejście</h3>

        </div>

        {{ form_start(form) }}

        <div class="span12">
            {% include "::_flash.html.twig" %}
            {{ form_row(form.barcode.barcode) }}
            {{ form_row(form.entryType) }}
            {{ form_row(form.price.price) }}
            {{ form_row(form.occurrence) }}

            <div class="row-fluid">
                <div class="span12 form-actions">
                    <div class="pull-right">
                        {{ form_row(form.add_another) }}
                        {{ form_row(form.submit) }}
                    </div>
                </div>
            </div>

        </div>

        {{ form_end(form) }}
    </div>
{% endblock %}
