<div class="span4">
    {% if member is defined %}
        {% include 'GymanAppBundle:Members:Modal/_picture.html.twig' with {'form' : form, 'member' : member} %}
    {% else %}
        {% include 'GymanAppBundle:Members:Modal/_picture.html.twig' with {'form' : form} %}
    {% endif %}
</div>

<div class="span8">
    {{ knp_menu_render('gyman.members.menu.tabs', {
        'template': 'GymanAppBundle:Members:Menu/tabs.html.twig',
        'currentAsLink' : true,
        'depth' : 1,
        'currentClass' : 'active',
    }) }}

    <div class="tab-content">
        <div id="detailsPane" class="tab-pane fade in active">
            {% include 'GymanAppBundle:Members:Modal/_details.html.twig' with {'form' : form} %}
        </div>


        {% if member is defined and member.id() %}
        <div class="tab-pane fade in" id="voucherPane">
            {%  include '@GymanApp/Members/Modal/_voucher.html.twig' with {'member' : member}%}
        </div>
        {% endif %}

        {% if member is defined and member.id() %}
        <div class="tab-pane fade in" id="historyPane">
            <div class="page-header">
                <h4>Wejścia <small>(ostatnich 15)</small></h4>
            </div>
            {{ render(controller('GymanAppBundle:Entries:renderHistory', {'member' : member})) }}

            <div class="page-header">
                <h4>Karnety<small>(ostatnich 10)</small></h4>
            </div>
            {{ render(controller('GymanAppBundle:Vouchers:renderHistory', {'member' : member})) }}
            {#{% include 'GymanAppBundle:Members:Modal/_sell.html.twig' with {'member' : member} %}#}
            {#<div id="timeline">{% render controller('TimelineBundle:Default:timeline', {subject: member }) %}</div>#}
        </div>
        {% endif %}

        <div class="tab-pane fade in" id="additionalsPane">
            {% include 'GymanAppBundle:Members:Modal/_additional.html.twig' with {'form' : form} %}
        </div>
    </div>

    {#{% block memberToolbox %}#}
        {#<div class="pull-right hideForNewMember" id="memberModalToolbox">#}
            {#{% if member.id is defined and member.id is not null%}#}
                {#<a href="{{ path("_voucher_new",{id: member.getId()}) }}" class="btn openUrlInModal"><i class="icomoon-icon-signup"></i> Karnet</a>#}

                {#{% if member.hasOpenedEntry() %}#}
                    {#<a href="{{ path("_entry_close",{id: member.getLastEntry().getId()}) }}" class="btn btn-warning openUrlInModal"><i class="icomoon-icon-enter"></i> Wyjście</a>#}
                {#{% else %}#}
                    {#<a href="{{ path("_entrance_add",{id: member.getId()}) }}" class="btn openUrlInModal"><i class="icomoon-icon-enter"></i> Wejście</a>#}
                {#{% endif %}#}
            {#{% endif %}#}
        {#</div>#}
    {#{% endblock memberToolbox %}#}
</div>

{{ form_rest(form) }}
