<form action="{{ path("_entry_close", {"id" : entry.id}) }}" method="POST" class="row-fluid">
    <div class="span4 center">
        <img src="{{ entry.member.getFoto() }}" class="img-polaroid" />
        <h3>{{ entry.member.getName() }}</h3>
    </div>

    <div class="span8">
        {% if entry.member.isMale() %}Wszedł{% else %}Weszła{% endif %} na zajęcia
        <span class="badge badge-info">{{ entry.getOccurence().getEvent().getActivity().getName }}</span>
        o godzinie <strong>{{ entry.getStartDate()|date("H:i") }}</strong><br />
        ({{ minutesAgo|date("%Hh %Im") }} temu)

    </div>
</form>
{% block modal %}
    <div class="hidden" id="ui-closeEntryData">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h3>Wyjście z zajęć</h3>
        </div>
        <div class="modal-footer">
            <div class="pull-right">
                <a href="#" class="btn btn-primary" id="saveFormInModal">Wyjście</a>
            </div>
        </div>
    </div>
{% endblock modal %}


{% block javascript %}
    {% javascripts
    '@EntriesBundle/Resources/public/coffee/entries.closeEntry.coffee'
    %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
    <script>
        $(function() {

            modal.setupFromNode("div#ui-closeEntryData");
            modal.setModalWindowClass("closeEntryModal");

            window.closeEntryModal = new CloseEntry();
        });
    </script>
{% endblock javascript %}
