{% extends '::base.html.twig' %}

{% block title %}
    {{ parent() }} - Edytuj wydarzenie
{% endblock title %}

{% block javascripts %}
    {{ parent() }}

    <script src="{{ asset('bundles/dendecalendar/js/locales/bootstrap-datetimepicker.pl.js') }}"></script>
    <script src="{{ asset('bundles/dendecalendar/js/bootstrap-datetimepicker.min.js') }}"></script>
    <script src="{{ asset('bundles/gymanapp/js/calendar_form.js') }}"></script>

    <script type="text/javascript">
        $(function(){
            $(".form_datetime").datetimepicker({format: 'yyyy-mm-dd hh:ii'});
        });
    </script>
{% endblock javascripts %}

{% block stylesheets %}
    {{ parent() }}
    <link rel='stylesheet' href="{{ asset('bundles/dendecalendar/css/bootstrap-datetimepicker.min.css') }}" />
{% endblock stylesheets %}

{% block content %}
<div class="heading">
    <h3>{{ header_title|default('Edytuj wydarzenie') }}</h3>
</div>
<div class="span12">
    {% include "::_flash.html.twig" %}
    {{ form_start(form, {attr: {class: "form form-horizontal"}}) }}

    {% if form.method is defined %}
        {{ form_row(form.method) }}
    {% endif %}

    {{ form_row(form.calendar) }}
    {{ form_row(form.newCalendarName) }}
    {{ form_row(form.type) }}
    {{ form_row(form.startDate) }}
    {{ form_row(form.endDate) }}
    {{ form_row(form.title) }}
    {{ form_row(form.repetitionDays) }}

    <div class="row-fluid">
        <div class="span12">
            <div class="form-actions">
                {% if form.delete_event is defined %}
                    {{ form_row(form.delete_event, {attr: {class: 'btn btn-link pull-right'}}) }}
                    {#{{ form_row(form.delete_occurrence, {attr: {class: 'btn btn-link pull-right'}}) }}#}
                {% endif %}

                <button type="submit" class="btn btn-primary">Submit</button>

                <a href='{{ path('dende_calendar_default_index') }}'>{{ 'dende_calendar.link.back_to_calendar'|trans }}</a>
            </div>
        </div>
    </div>
    {{ form_end(form) }}
</div>
{% endblock content %}