{% extends "DashboardBundle::layout.html.twig" %}

{% block body_class %}dashboard{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src='{{ asset("bundles/dendecalendar/js/fullcalendar.js") }}'></script>
    <script src='{{ asset("bundles/dendecalendar/js/lang/" ~ app.request.locale|default('pl') ~ ".js") }}'></script>

    <script>
        $(function(){
            $('#calendar').fullCalendar({
                defaultView: 'month',
                allDaySlot: false,
//                slotDuration: '00:30:00',
                {#minTime: '{{ club.details.opened_from|default('08') }}:00',#}
                {#maxTime: '{{ club.details.opened_till|default('22') }}:00',#}
                {#timeZone: '{{ calendarTimezone is defined ? calendarTimezone : 'Europe/Warsaw' }}',#}
                slotLabelFormat: 'H:00',
                selectable: false,
                lang: '{{ app.request.locale }}',
                events: Routing.generate('gyman_dashboard_member_calendar'),
//                contentHeight: "auto",
                height: "auto"
            })
        });
    </script>
{% endblock javascripts %}

{#{% block stylesheets %}#}
    {#{{ parent() }}#}
    {#<link rel='stylesheet' href="{{ asset('bundles/dendecalendar/css/fullcalendar.css') }}" />#}
{#{% endblock stylesheets %}#}

{% block body %}

    <div class="heading">

        <h3>Pulpit uczestnika</h3>

    </div><!-- End .heading-->

    <div class="row-fluid">
        <div class="span12">
            <div id='calendar'></div>
        </div>
    </div>

    <div class="form-row row-fluid">
        {% if member.hasCurrentVoucher %}
            Karnet ważny od {{ currentVoucher.startDate|date("d.m.Y") }} do {{ currentVoucher.endDate|date("d.m.Y") }} (pozostało {{ currentVoucher.leftDaysAmount }} dni do końca)<br />
            Liczba pozostałych wejść: {{ currentVoucher.leftEntriesAmount }}
        {% else %}
            Brak aktualnego karnetu.
        {% endif %}
        <br />
        Ostatnie wejście: {{ lastEntry.startDate|date("d.m.Y H:i") }}
        na zajęcia '{{ lastEntry.occurrence.event.title }}'
        <br />
        Historia wejść:
        <ul>
            {% for entry in member.entries %}
                <li>{{ entry.startDate|date("d.m.Y H:i") }}: {{ entry.occurrence.event.title }} ({{ lastEntry.type }})</li>
            {% endfor %}
        </ul>
    </div>
{% endblock body %}
