{{ knp_menu_render('gyman.members.menu.tabs_picture', {
    'template': 'MembersBundle:Default:Menu/picture.html.twig',
    'currentAsLink' : true,
    'depth' : 1,
    'currentClass' : 'active'
}) }}

<div class="tab-content">
    <div id="filePane" class="tab-pane fade in active">

        {% if member.id() == null and form.vars.submitted and not form.vars.valid %}
            {% set foto = form.foto.vars.value %}
        {% else %}
            {% set foto = member.details.foto.foto %}
        {% endif %}

        <img src="{{ foto }}" class="thumbnail" id="memberFoto"/>

        {#{{ form_widget(form.fotoUploader) }}#}
    </div>

    <div class="tab-pane fade in" id="webcamDiv">
        <div id="camera" data-upload-url="{{ uploader.endpoint('gallery') }}"></div>
        <a href="#" id="makeFoto" class="btn btn-danger">
            <span class="icon16 entypo-icon-flash"></span>
            {{ 'member.modal.make_picture_button_label'|trans }}
        </a>
    </div>
</div>
