{{ knp_menu_render('gyman.members.menu.tabs_picture', {
    'template': 'MembersBundle:Default:Menu/picture.html.twig',
    'currentAsLink' : true,
    'depth' : 1,
    'currentClass' : 'active'
}) }}

<div class="tab-content">
    <div id="filePane" class="tab-pane fade in active">
        {% if member.id() == null and form.vars.submitted and form.foto.vars.value != '' %}
            {% set foto = "/uploads/gallery/" ~ form.foto.vars.value %}
        {% else %}
            {% set foto = member.details.foto.fotoWithPath %}
        {% endif %}

        <img src="{{ foto }}" class="thumbnail" id="memberFoto"/>

        {{ form_widget(form.foto) }}

        <div class="control-group error">
            <div class="help-block">
                {{ form_errors(form.foto) }}
            </div>
        </div>

    </div>

    {#<div class="tab-pane fade in" id="webcamDiv">#}
        {#<div id="camera" data-upload-url="&#123;&#35; uploader.endpoint('gallery') &#35;&#125;"></div>#}
        {#<a href="#" id="makeFoto" class="btn btn-danger">#}
            {#<span class="icon16 entypo-icon-flash"></span>#}
            {#{{ 'member.modal.make_picture_button_label'|trans }}#}
        {#</a>#}
    {#</div>#}
</div>
